body {
  height: 100%;
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  font-family: 'monospace', monospace;
}

div.menu {
  width: 100%;
  height: 47px;
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: start;
}

.redirect {
    color: rgb(194, 194, 194);
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'monospace', monospace;
}


.redirect-button {
    color: rgb(194, 194, 194);
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(15, 15, 15);
    border-left: solid 2px rgb(194, 194, 194);
    border-right: solid 2px rgb(194, 194, 194);
    border-top: none;
    border-bottom: none;
    padding: 5px 10px;
    text-decoration: solid;
    font-family: 'monospace', monospace;
}
h1.main-title {
  color: rgb(194, 194, 194);
  font-size: 28px;
  text-align: center;
  font-family: 'monospace', monospace;
}

h1.section {
  color: rgb(194, 194, 194);
  font-size: 24px;
  text-align: center;
  font-family: 'monospace', monospace;
}

h1.section-text {
  color: rgb(194, 194, 194);
  font-size: 20px;
  font-family: 'monospace', monospace;
  text-align: end;
}

p.section-text {
  font-family: 'monospace', monospace;
  text-align: end;
}

p.about-text {
  font-family: 'monospace', monospace;
  text-align: start;
  margin: 2dvh;
}

.section-sub {
    color: rgb(194, 194, 194);
    font-size: 20px;
    font-family: 'monospace', monospace;
    margin: 8dvh;
    padding: 2dvh;
    border-left: solid 2px rgb(194, 194, 194);
    border-right: solid 2px rgb(194, 194, 194);
}

.contact-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid 2px rgb(194, 194, 194);
    border-right: solid 2px rgb(194, 194, 194);
    padding: 2dvh;
    margin: 2dvh;
    justify-content: center;
    float: left;
}