:root {
  color: #f9f9f9;
  background: #131313;
  font-family: "Droid Sans Mono", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #181818;
    background-color: #eaeaea;
    font-family: "Droid Sans Mono", monospace;
  }
}