@import "tailwindcss";

@tailwind utilities;

:root {
  color: #f9f9f9;
  background: #222222;
  font-family: "Droid Sans Mono", monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #222222;
    background-color: #eaeaea;
    font-family: "Droid Sans Mono", monospace;
  }
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}